$black:#1E1E1E;
$grey:#CCCCCC;
$white:#FFFFFF;

$switcher-background: $light-blue;
$switcher-height: 40px;
$switcher-width: 200px;
$switcher-toggle-padding: 5px;
$switcher-off-color: #a2bcce;
$switcher-on-color: #666;
$switcher-radius: 17px;

.switcher {
  position: relative;
  width: $switcher-width;
  height: $switcher-height;
  border-radius: $switcher-radius;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  input {
    appearance: none;
    cursor: pointer;

    position: relative;

    width: $switcher-width;
    height: $switcher-height;
    border-radius: $switcher-radius;

    background-color: $switcher-background;
    outline:none;
    user-select: none;

    &:focus {
      appearance: none;
      outline: none
    }

    &:before, &:after {
      z-index:2;
      width: $switcher-width / 2;
      text-align: center;
      position: absolute;
      top:50%;
      transform:translateY(-50%);
      font-size: 14px;
      color:$white;
    }
    &:before {
      left: 0;
      content: 'Market';
    }
    &:after {
      right: 0;
      content: 'Limit';
    }
  }
  label {
    user-select: none;
    z-index:1;
    position: absolute;
    top: $switcher-toggle-padding;
    bottom: $switcher-toggle-padding;
    background:$white;
    border-radius: $switcher-radius - $switcher-toggle-padding;
    box-shadow: 0px 0px 10px #f1f1f1;
  }

  input {
    transition:.25s -.1s;

    &:checked {
      &:before {
        color:$switcher-on-color;
        transition: color .5s .2s;
      }
      &:after {
        color:$switcher-off-color;
        transition: color .5s;
      }
      &+label {
        left: $switcher-toggle-padding;
        right: $switcher-width / 2;
        transition: left .5s, right .4s .2s;
      }
    }
    &:not(:checked) {
      &:before {
        color:$switcher-off-color;
        transition: color .5s;
      }
      &:after {
        color:$switcher-on-color;
        transition: color .5s .2s;
      }
      &+label {
        left: $switcher-width / 2;
        right: $switcher-toggle-padding;
        transition: left .4s .2s, right .5s, background .35s -.1s;
      }
    }
  }
}
