#preload {
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html, body {
  background: $light-blue;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0.3; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.3; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.3; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.3; }
  100% { opacity:1; }
}
.animate-flicker {
  -webkit-animation: flickerAnimation 2s infinite;
  -moz-animation: flickerAnimation 2s infinite;
  -o-animation: flickerAnimation 2s infinite;
  animation: flickerAnimation 2s infinite;
}

.container {
  margin: 9px;
}

@media screen and (min-width: 769px) {
  .container {
    margin: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    margin: 15px auto;
  }
}

.fullscreen {
  .alpha-banner {
    display: none;
  }
}


#nav {
  margin: 25px auto;
  transition: margin-top 300ms;

  .logo-icon {
    width: auto;
    height: auto;

    img {
      height: 37px;
    }
  }

  .button {
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0px 0 1px rgb(10 10 10 / 2%);
    border-radius: 15px;
  }
}

@media screen and (min-width: 769px) {
  #nav {
    margin: 50px auto;

    .logo-title {
      font-size: 24px;
    }
  }
}

@media screen and (max-width: 768px) {
  .fullscreen {
    #nav {
      margin-top: -65px;
    }
  }
}

.footer {
  background: transparent;
  text-align:center;
  padding: 0;
  margin-bottom: 20px;
}

.text-gray-stylized {
  color: #333;
}

.token-icon-img-wrapper {
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    background: white;
    position: absolute;
  }

  .icon {
    display: none;
    color: $link;
    position: absolute;
    font-size: 23px;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    margin: 0 !important;
  }

  &.errored {
    background: $info-light;
    img { display: none }
    .icon { display: flex }
  }
}

.token-symbol-wrapper {
  .symbol {
    line-height: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 8px;
  }

  .balance {
    display: block;
    line-height: 14px;
    font-size: 12px;
    opacity: 0.7;
  }
}

.wallet-status {

  .wallet-address {
    font-weight: bold;
    color: #333;
    font-size: 14px;
    display: block;
    padding-right: 10px;
    margin-right: 5px;
    border-right: 1px solid #ccc;
  }

  .button .icon:last-child:not(:first-child) {
    margin-left: 0;
  }

  .icon {
    padding: 0;
    font-size: 21px;
    height: 30px;
  }

  .icon-arrow-down {
    font-size: 16px;
  }

  .image-icon {
    height: 19px;
    margin-right: 11px;
  }

  .icon-person {
    margin-right: 0 !important;
    font-size: 24px;
  }
}

.token-search-bar {
  .dropdown-content {
    overflow: hidden;
  }

  .dropdown-item {
    overflow: hidden;
    cursor: pointer;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 0;
    margin-bottom: 0;

    & .level-item-wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .close-icon {
    pointer-events: initial !important;
    cursor: pointer;

    &:hover {
      color: #333;
    }
  }

  .level-item {
    font-size: 1.25rem;
  }
}

.swap-column {
  flex: none;
  width: 440px;
}

@media screen and (max-width: 450px) {
  .swap-column {
    flex: none;
    width: 100%;
  }
}

[class*=hint--] {
  display: block;
}

[class*=hint--]:after {
  border-radius: $radius-small;
  background: #2D3039;
}

[class*=hint--top]:before {
  border-top-color: #2D3039;
}

[class*=hint--bottom]:before {
  border-bottom-color: #2D3039;
}

.hint-icon {
  width: 16px;
  height: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: lighten($info, 30%);
  font-size: 10px;
  border-radius: 10px;
  margin: 2px 6px;
}

.connect-panel {
  max-width: 420px;
  margin: 0 auto;
  border-radius: 20px;

  .option {
    cursor: pointer;
    border: 1px solid #ddd;
    padding: 14px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 16px;

    &:last-child {
      margin-bottom: 0px;
    }

    &:hover {
      border: 1px solid $link;
      background: $link-light;
    }

    &.connected {
      background: $success-light;
      border-color: $success;
    }

    .connected {
      font-size: 12px;
      color: $success;
      font-weight: bold;
    }

    .error {
      color: $danger;
      font-size: 12px;
      font-weight: bold;
    }

    .has-text-info {
      font-size: 12px;
    }

    img {
      height: 35px;
      width: 35px;
    }

    &.coming-soon {
      opacity: 0.4;
      cursor: not-allowed;
    }
  }

  .footnote {
    text-align: center;
    padding: 10px;
  }
}

.icon {
  &.clickable {
    color: #aaa;
    cursor: pointer;

    &:hover {
      color: #333;
      border-radius: 40px;
      background: #eee;
    }
  }

  &.disabled {
    color: #ddd;
  }

  &.ion-icon {
    font-size: 30px;
  }
}

.empty-state {
  height: 300px;
  display: flex;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  justify-content: center;

  .icon {
    font-size: 70px;
    height: 70px;
    width: 70px;
  }

  .empty-text {
    font-size: 19px;
    margin-bottom: 17px;
  }
}

.footer-feedback {
  background-color: #EDF2F8 !important;
  color: #BAB8B9 !important;
  border: 0 !important;
  font-size: 16px !important;

  &:hover {
    background-color: white !important;
    color: #BAB8B9 !important;
  }
}
