.theme-light {
  --light-text: #5E4B56;
  --background: #f2f7f9;
  --toggle-text:#666;
  --dialogue-bg:#FFFFFF;
  --bg-element:#f2f7f9;
  --switch-shadow:#f1f1f1;
  --dropdown-hover-color:#e1ecf1;
  --dropdown-bg:#FFFFFF;
  --dropdown-text-color:#4a4a4a;
  --dialogue-text-color:#333333;
  --notification-border-color:#eeeeee;
  --swap-icon:#E6007A;
  --btn-color:#E6007A;
  --symbol-color:#0a0a0a;
  --balance-color:#0a0a0a;
  --input-color:#ffffff;
  --input-box-shadow:#efefef;
  --input-border:#3273dc;
  --max-bg:#feecf0;
  --hint-color:#b5daf2;
  --disabled-dropdown:f5f5f5;
  --back-arrow-icon:#f0f8ff;
  --bridge-btn-border:#dddddd;
}
.theme-dark {
  --dark-text: #5E4B56;
  --background: #201923;
  --toggle-text:#ffffff;
  --dialogue-bg:#29212D;
  --bg-element:#1e1721;
  --switch-shadow:#29212D;
  --dropdown-hover-color:#221926;
  --dropdown-bg:#1e1721;
  --dropdown-text-color:#ffffff;
  --dialogue-text-color:#ffffff;
  --notification-border-color:#201923;
  --swap-icon:#ffffff;
  --btn-color:#58b57e;
  --symbol-color:#ffffff;
  --balance-color:#9EA8AF;
  --input-color:#1e1721;
  --input-box-shadow:#1e1721;
  --input-border:#1e1721;
  --max-bg:#221926;
  --hint-color:#5a545d;
  --disabled-dropdown:#1e1721;
  --back-arrow-icon:#ffffff;
  --bridge-btn-border:#00000000;
}

.theme-hr{
  background: var(--dropdown-bg) !important;
}

.custom-btn{
  background: var(--btn-color) !important;
}

.setting-dropdown{
  background: var(--disabled-dropdown) !important;
  color: var(--symbol-color) !important;
  border-color: var(--input-border) !important;
}

input{
  &::placeholder{
    color: var(--symbol-color) !important;
  }
}

.gas-price-control {
  select,input{
    background-color: var(--bg-element);
    color: var(--symbol-color);
    border-color: var(--input-border);
  }
}

.setting-input-title{
  color: var(--dropdown-text-color) !important;
}

#preload {
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html, body {
  background: var(--background);
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0.3; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.3; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.3; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.3; }
  100% { opacity:1; }
}
.animate-flicker {
  -webkit-animation: flickerAnimation 2s infinite;
  -moz-animation: flickerAnimation 2s infinite;
  -o-animation: flickerAnimation 2s infinite;
  animation: flickerAnimation 2s infinite;
}

.container {
  margin: 9px;
}

@media screen and (min-width: 769px) {
  .container {
    margin: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    margin: 15px auto;
  }
}

.fullscreen {
  .alpha-banner {
    display: none;
  }
}

.nav-menu {
  width: auto;
  display: flex;
  align-items: center;
  margin-left: 38px;
  height: 100%;

  .nav-link {
    color: #333;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;

    &.active {
      color: black;
      border-bottom: 2px solid $primary;
    }

    &:hover {
      color: black;
    }
  }
}

#nav {
  display: flex;
  background-color: transparent;
  height: 67px;
  border-bottom: 1px solid $third-white;
  transition: margin-top 300ms;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: -15px;

  .logo-icon {
    width: auto;
    height: auto;

    img {
      margin-left: 10px;
      height: 36px;
    }
  }

  .level:not(:last-child),
  .level-item:not(:last-child) {
    margin-right: 4px;
  }

  .button {
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0px 0 1px rgb(10 10 10 / 2%);
    border-radius: 12px;
    width: 164px;
    height: 42px;
  }

  .bridge-button {
    background: var(--dialogue-bg) !important;
    border: 1px solid var(--bridge-btn-border) !important;
    border-radius: 12px;
    height: 42px;
    background-color: $secondary-white-background;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);

    &:hover {
      background-color: $third-white;
    }

    img {
      width: 22px;
      height: 16px;
      margin-right: 13px;
    }

    a {
      font-size: 16px;
      color: var(--toggle-text) !important;
    }
  }

  .settings-icon {
    font-size: 24px;
    height: 34px;
    width: 34px;
    line-height: 34px;
    text-align: center;
    cursor: pointer;
    &:hover {
      color: #333;
      border-radius: 40px;
      background: #eee;
    }
  }

  @media screen and (max-width: 768px) {
    background-color: $secondary-white-background;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: -9px;
    margin-bottom: 0px !important;
    border: none;

    .nav-menu {
      display: none;
    }

    .bridge-button {
      border: none;
      padding: 0px;
      background-color: transparent;

      &:hover {
        background-color: transparent;
      }

      img {
        margin-right: 0px;
      }
      a span {
        display: none;
      }
    }
  }
  @media screen and (min-width: 768px) {
    .nav-menu {
      width: 100%;
    }
  }
}

#mobile-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 57px;
  border-bottom: 1px solid $third-white;
  transition: margin-top 300ms;
  margin-bottom: 20px;

  @media screen and (max-width: 768px) {
    .nav-menu {
      width: auto;
      margin: 0;
    }
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.flyout {
  background-color: $secondary-white-background;
  min-width: 262px;
  overflow: auto;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.01), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04),
  0px 24px 32px rgba(0, 0, 0, 0.01);
  border-radius: 16px;
  padding: 22px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  top: 4.5rem;
  right: 0px;
  z-index: 100;

  .menu-item {
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: space-between;
  }

  .divider {
    border-bottom: 1px solid $third-white;
    margin: 8px;
  }
}

@media screen and (min-width: 769px) {
  #nav {
    .logo-title {
      font-size: 24px;
    }
  }
}

@media screen and (max-width: 768px) {
  .fullscreen {
    #nav {
      margin-top: -65px;
    }
  }
}

.footer {
  background: transparent;
  text-align:center;
  padding: 0;
  margin-bottom: 20px;
}

.text-gray-stylized {
  color: var(--dialogue-text-color);
}

.token-icon-img-wrapper {
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    background: white;
    position: absolute;
  }

  .icon {
    display: none;
    color: $link;
    position: absolute;
    font-size: 23px;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    margin: 0 !important;
  }

  &.errored {
    background: $info-light;
    img { display: none }
    .icon { display: flex }
  }
}

.token-symbol-wrapper {
  .symbol {
    color:var(--symbol-color) !important;
    line-height: 20px;
    font-size: 20px;
    font-weight: bold;
  }

  .balance {
    color: var(--balance-color) !important;
    display: block;
    line-height: 14px;
    font-size: 12px;
    opacity: 0.7;
  }
}

.wallet-status {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-right: 1px solid #ccc;
  height: 30px;

  .dot {
    height: 6px;
    width: 6px;
    background-color: $primary;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
  }

  .wallet-address {
    font-weight: 400;
    font-size: 12px;
    color: #333;
    display: block;
    padding-right: 10px;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .button .icon:last-child:not(:first-child) {
    margin-left: 0;
  }

  .icon {
    padding: 0;
    font-size: 21px;
    height: 30px;
  }

  .icon-arrow-down {
    font-size: 16px;
  }

  .image-icon {
    height: 19px;
    margin-right: 8px;
  }

  .icon-person {
    margin-right: 0 !important;
    font-size: 24px;
  }
}

.token-search-bar {
  .dropdown-content {
    overflow: hidden;
  }

  .dropdown-item {
    overflow: hidden;
    cursor: pointer;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 0;
    margin-bottom: 0;

    & .level-item-wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .close-icon {
    pointer-events: initial !important;
    cursor: pointer;

    &:hover {
      color: #333;
    }
  }

  .level-item {
    font-size: 1.25rem;
  }
}

.token-symbol-balance-wrapper {
  display: flex;
  flex-direction: column;
  .has-text-grey{
    color: var(--toggle-text) !important;
  }
}

.swap-column {
  flex: none;
  width: 500px;
}

@media screen and (max-width: 450px) {
  .swap-column {
    flex: none;
    width: 100%;
  }
}

[class*=hint--] {
  display: block;
}

[class*=hint--]:after {
  border-radius: $radius-small;
  background: #2D3039;
}

[class*=hint--top]:before {
  border-top-color: #2D3039;
}

[class*=hint--bottom]:before {
  border-bottom-color: #2D3039;
}

.hint-icon {
  width: 16px;
  height: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: var(--hint-color);
  font-size: 10px;
  border-radius: 10px;
  margin: 2px 6px;
}

.connect-panel {
  max-width: 420px;
  margin: 0 auto;
  border-radius: 20px;

  .option {
    cursor: pointer;
    border: 1px solid #ddd;
    padding: 14px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 16px;

    &:last-child {
      margin-bottom: 0px;
    }

    &:hover {
      border: 1px solid $link;
      background: $link-light;
    }

    &.connected {
      background: $success-light;
      border-color: $success;
    }

    .connected {
      font-size: 12px;
      color: $success;
      font-weight: bold;
    }

    .error {
      color: $danger;
      font-size: 12px;
      font-weight: bold;
    }

    .has-text-info {
      font-size: 12px;
    }

    img {
      height: 35px;
      width: 35px;
    }

    &.coming-soon {
      opacity: 0.4;
      cursor: not-allowed;
    }
  }

  .footnote {
    text-align: center;
    padding: 10px;
  }
}

.icon {
  &.clickable {
    color: var(--back-arrow-icon);
    cursor: pointer;

    &:hover {
      color: var(--dialogue-text-color);
      border-radius: 40px;
      background: var(--notification-border-color);
    }
  }

  &.disabled {
    color: #ddd;
  }

  &.ion-icon {
    font-size: 30px;
  }
}

.empty-state {
  height: 300px;
  display: flex;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  justify-content: center;

  .icon {
    font-size: 70px;
    height: 70px;
    width: 70px;
  }

  .empty-text-bold {
    color: var(--dropdown-text-color) !important;
    font-size: 22px;
    margin-bottom: 17px;
    font-weight: bold;
  }

  .empty-text {
    color: var(--dropdown-text-color) !important;
    font-size: 16px;
    margin-bottom: 20px;
  }
}

.footer-feedback {
  background-color: #EDF2F8 !important;
  color: #BAB8B9 !important;
  border: 0 !important;
  font-size: 16px !important;

  &:hover {
    background-color: white !important;
    color: #BAB8B9 !important;
  }
}

.footer-note {
  display: flex;
  color: #BAB8B9 !important;
  font-size: 14px !important;
  margin-top: 20px;
  justify-content: space-around;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.loader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  opacity: 0;
  z-index: -1;
  transition: opacity .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;

  .loader {
    height: 40px;
    width: 40px;
    color: #e6007a;
  }

  &.is-active {
    opacity: 0.9;
    z-index: 1000;
  }
}
