
.notification-drawer {
  position: absolute;
  width: 350px;
  z-index: 30;
  top: 15px;
  left: 50%;
  margin-left: -175px;

  .notification {
    background: white !important;
    padding: 10px 5px;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0px 0 1px rgb(10 10 10 / 2%);
  }

  .level, .level-item {
    margin: 0 !important;
  }

  .icon {
    &.clickable {
      color: #ddd !important;
      margin: 0 10px;

      &:hover {
        color: white;
        border-radius: 40px;
        background: #ffffff30;
      }
    }
  }

  .tx-meta {
    display: none;
  }

  @media screen and (max-width: 768px) {
    .tx-item .column .is-mobile {
      display: none;
    }
  }
}

.notification-button {
  position: relative;
  cursor: pointer;
  margin-right: 20px;

  .button {
    padding: 0 16px;
  }

  .bubble {
    margin-left: 10px;
  }
}

.tx-history-modal {
  max-width: 468px;
  margin: 0 auto;
  border-radius: 16px;

  .header {
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
  }
}

.tx-history {
  .tx-icon {
    flex-grow: 0 !important;
    flex-shrink: 1 !important;

    .icon {
      font-size: 30px;
      width: 30px;
    }
  }

  .tx-content {
    flex-grow: 1;
  }

  .tx-action {
    flex-grow: 0 !important;
    flex-shrink: 1 !important;
  }
}

.tx-item {
  display: grid;
  gap: 10px;
  -webkit-box-align: center;
  align-items: center;
  grid-template-columns: 20px 3.5fr repeat(3, 1fr);

  .token-pair {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0px;
  }

  .column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-flow: column wrap;
    flex: 1 1 auto;
    padding: 0px;

      .item-1 {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 14px;

        .icon {
          width: 11px;
          height: 11px;
          margin-right: 4px;
        }
      }

      .item-2 {
        font-weight: 400;
        font-size: 12px
      }
  }

  &.success {
    span {
      color: #4a4a4a;
    }
    .icon {
      color: $success;
    }
  }

  &.pending {
    span {
      color: #FBC44D;
    }
    .button::after {
      border-color: transparent transparent $info $info !important;
    }
  }

  &.failed {
    span {
      color: #938F95;
    }
    .icon {
      color: $danger;
    }
  }

  .tx-meta {
    color: #8899a7;
    font-size: 12px;
    font-weight: 100;
  }

  .tx-content {
    color: #666;
    font-size: 14px;

    > div {
      width: 100%;
    }

    a {
      color: #8899a7;
      font-weight: 100;
    }
  }
}
