
.notification-drawer {
  position: absolute;
  width: 350px;
  z-index: 30;
  top: 0;
  left: 50%;
  margin-left: -175px;

  .notification {
    background: white !important;
    padding: 10px 5px;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0px 0 1px rgb(10 10 10 / 2%);
  }

  .level, .level-item {
    margin: 0 !important;
  }

  .icon {
    &.clickable {
      color: #ddd !important;
      margin: 0 10px;

      &:hover {
        color: white;
        border-radius: 40px;
        background: #ffffff30;
      }
    }
  }

  .tx-meta {
    display: none;
  }
}

.notification-button {
  position: relative;

  .bubble {
    position: absolute;
    z-index: 10;
    right: -4px;
    margin-top: -12px;
  }
}

.tx-history-modal {
  max-width: 420px;
  margin: 0 auto;
  border-radius: 20px;
}

.tx-item {
  width: 100%;

  .tx-icon {
    flex-grow: 0 !important;

    .icon {
      width: 50px;
      height: 40px;
      font-size: 30px;
    }
  }

  &.success {
    .icon {
      color: $success;
    }
  }

  &.pending {
    .button::after {
      border-color: transparent transparent $info $info !important;
    }
  }

  &.failed {
    .icon {
      color: $danger;
    }
  }

  .tx-meta {
    color: #8899a7;
    font-size: 12px;
    font-weight: 100;
  }

  .tx-content {
    color: #666;
    font-size: 14px;

    > div {
      width: 100%;
    }

    a {
      color: #8899a7;
      font-weight: 100;
    }
  }
}
