.node-list {
  display: inline-grid;
  width: 100%;

  li {
    list-style-type: none;
    font-size: 17px;
    padding: 10px 0;
    cursor: pointer;
  }

  .network-status-offline {
    color: #a12222;
  }

  .network-status-online {
    color: #33eb4c;
  }
}
