
.alpha-banner.notification {
  font-size: 13px;
}

.txHash {
  word-break: break-all;
  font-family: monospace;
  font-size: 14px;
  font-weight: normal;
}

.swap-network-toggle {
  background: var(--secondary-background);
  padding: 13px 1em;
  margin-bottom: 12px !important;
  border-radius: 16px;
  color: #666;

  .box-title {
    font-size: 16px;
    color: #333;
    font-weight: bold;
  }
}

.network-dropdown {
  .dropdown-content{
    background-color: var(--dropdown-bg) !important;
  }
  &.dropdown {
    &.compact {
      .button {
        padding: 5px 10px;
      }
    }

    .button {
      background-color: var(--dropdown-color) !important;
      color: var(--primary-text-color) !important;

      .level {
        margin-bottom: 0;
      }

      &:hover {
        background-color: var(--dropdown-hover-color) !important;
      }
    }

    .disabled {
      opacity: 0.4;
    }

    .icon {
      color: var(--primary-text-color) !important;
    }
  }
}

.swap-trans-details {
  padding: 15px;
  background: #f2f7f9;
  border-radius: 10px;
  padding-bottom: 5px;
  margin-bottom: 15px;

  .detail {
    padding-bottom: 10px;
  }

  .detail-title {
    font-size: 13px;
    color: #333;
    display: flex;
    line-height: 15px;
  }

  .detail-value {
    font-family: monospace;
    font-size: 14px;
    line-height: 15px;
    color: #2160c4;
    text-align: right;

    .icon {
      vertical-align: middle;
      height: auto;
    }
  }

  .hint-icon {
    width: 11px;
    height: 11px;
    display: flex;
    margin: 2px 4px;
    background: #9db0be;
    line-height: 15px;
  }

  .is-danger {
    .detail-value {
      color: $danger;
      font-weight: bold;
    }
  }
}

$swap-widget-anim-timing: 300ms;

.swap-widget {
  background: var(--secondary-background) !important;
  padding: 0px;
  overflow: hidden;
  position: relative;
  max-height: 800px;
  border-radius: 16px;
  transition: height $swap-widget-anim-timing;

  .page {
    transition: left $swap-widget-anim-timing ease-in-out,
      opacity $swap-widget-anim-timing ease-in-out,
      transform $swap-widget-anim-timing ease-in-out;
    min-height: 330px;
    background: var(--secondary-background) !important;
    border-radius: 16px;
    position: relative;
    z-index: 10;
    top: 0;
    width: 100%;
    max-height: 600px;
    opacity: 1;
  }

  .page-inner {
    position: relative;
    padding: 1.25em;
  }

  .page-stack {
    display: none;
  }

  .button.is-primary.is-fullwidth {
    font-size: 16px;
    height: 50px;
  }

  // TRANSITIONS

  .slidein-enter {
    display: block;
    left: 120%;
  }
  .slidein-enter-active {
    display: block;
    left: 0%;
    pointer-events: none;
  }
  .slidein-exit {
    display: block;
    left: 0%;
    position: absolute;
    height: 800px;
  }
  .slidein-exit-active {
    display: block;
    left: 120%;
    position: absolute;
    height: 800px;
    pointer-events: none;
  }
  .slidein-enter-done {
    display: block;
  }
  .slidein-exit-done {
    display: none;
  }

  .fade-enter {
    opacity: 0;
    transform: scale(0.75);
    pointer-events: none;
  }
  .fade-enter-active {
    opacity: 1;
    transform: scale(1);
    pointer-events: none;
  }
  .fade-exit {
    opacity: 1;
    transform: scale(1);
    position: absolute;
    height: 800px;
    pointer-events: none;
  }
  .fade-exit-active {
    opacity: 0;
    transform: scale(0.75);
    pointer-events: none;
    height: 800px;
    position: absolute;
  }
  .fade-exit-done {
    display: none;
  }

  // special case for double-stacked cards (confirm)
  .fade-enter.slidein-exit {
    display: none;
  }

  // END OF TRANSITIONS

  .widget-title {
    color: var(--dropdown-text-color) !important;
    font-size: 16px;
  }

  .currency-text {
    font-family: monospace;
    color: $link;
    font-size: 22px;
    text-align: right;
    overflow: hidden;
  }


  .switcher {
    cursor: not-allowed;
    input {
      cursor: not-allowed;
    }
  }

  .page-view-order {

    .text-gray-stylized {

      font-size: 16px;
      margin-bottom: 6px;
    }

    .swap-icon-wrapper {
      position: relative;
      margin: 17px 0 5px;
    }

    $swap-icon-width: 42px;

    .network-dropdown {
      .button {
        height: 55px;
        padding: 0 10px;
      }
    }

    .swap-icon {
      position: absolute;
      left: 50%;
      width: $swap-icon-width;
      margin-left: - ($swap-icon-width / 2);
      z-index: 10;
      margin-top: - ($swap-icon-width / 2);
      text-align: center;
      padding: 5px;
      background: white;
      border-radius: 40px;
      border: 1px solid #eee;
      cursor: pointer;

      i {
        color: $primary;
      }

      &:hover {
        transform: scale(1.15);
      }
    }

    .swap-icon-v2 {
      color: var(--swap-icon);
      text-align: center;
      font-size: 20px;
      position: absolute;
      left: 50%;
      width: $swap-icon-width;
      height: $swap-icon-width;
      margin-left: - ($swap-icon-width / 2);
      margin-top: - ($swap-icon-width / 2);
      background: var(--secondary-background);
      border-radius: 40px;
      border: 1px solid var(--notification-border-color);
      z-index: 10;
      cursor: pointer;
    }

    .settings-icon {
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: 5;

      font-size: 24px;
      height: 34px;
      width: 34px;
      line-height: 34px;
      text-align: center;
    }

    .icon-down {
      color: var(--primary-text-color) !important;
      width: 16px;
      height: 16px;
    }

    .input {
      box-shadow: none;
      border-color: var(--input-border);
      font-size: 22px;
      line-height: 1rem;
      height: 55px;
      color: var(--primary-text-color);
      transition: transform 200ms;
      &.is-to {
        background-color: var(--primary-background);
        border-color: var(--primary-background);
      }

      &.is-from {
        padding-right: 60px;
      }

      &:hover, &:focus {
        transform: scale(1.05);
        box-shadow: 0 0px 10px 0 var(--input-box-shadow);
        border: 1px solid $link;
      }

      &.is-danger {
        color: $danger;
        border-color: $danger;
      }
    }

    .warning-funds {
      font-size: 12px;
      color: $danger;
      position: absolute;
      bottom: -20px;
      right: 8px;
      width: 200%;
      text-align: right;
    }

    .control{
      .max-btn {
        position: absolute;
        top: 10px;
        right: 8px;
        height: 35px;
        line-height: 35px;
        background: var(--primary-background);
        border-radius: 10px;
        color: var(--btn-color);
        padding: 0 10px;
        font-size: 14px;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
          background: var(--secondary-background);
        }
      }
    }

    .notification {
      background: var(--secondary-background) !important;
      padding: 20px 5px;
      border-radius: 0;

      .token-symbol-wrapper {
        width: 75px;
      }

      .level-item {
        flex-grow: 0;

        &:not(:last-child) {
          margin-right: 0.75em;
        }
      }

      &.bottom {
        border-top: 1px solid var(--notification-border-color);
        border-bottom: 1px solid var(--notification-border-color);
        padding-top: 15px;
        padding-bottom: 20px;
      }
    }

    input[disabled] {
      background: white;
    }

    .is-loading {
      input {
        color: $info-light;
      }

      &:after {
        left: calc(50% - (1em / 2));
        top: calc(50% - (1em / 2));
      }
    }

    .token-dropdown {
      height: 55px;
      margin-right: 15px !important;
      border: 1px solid transparent;
      border-radius: 8px;
      cursor: pointer;
      background-color: var(--dropdown-color) !important;
      padding: 0 10px;

      &:hover {
        background-color: var(--dropdown-hover-color) !important;
      }
    }
  }

  .custom-token-warning {
    width: 100%;
    padding: 1rem;
    border-radius: 16px;
    box-sizing: border-box;
    margin-bottom: 20px;
    min-width: 0px;
    background-color: #f2f7f9 !important;

    .warning-box {
      width: 100%;
      display: flex;
      padding: 0px;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      justify-content: space-between;

      .warning-icon {
        margin-right: 20px;
        width: 150px;
      }

      .warning-text-bold {
        font-size: 16px;
        margin-bottom: 10px;
        font-weight: bold;
      }

      .warning-text {
        font-size: 14px;
      }
    }
  }

  .warning-funds-view {
    font-size: 14px;
    color: #f14668;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  //override bulma
  .level:not(:last-child),
  .level-item:not(:last-child) {
    margin-bottom: 0;
  }

  //override bulma
  .level-left + .level-right {
    margin-top: 0;
  }

  hr {
    margin: 1rem 0;
  }

  .page-view-settings {
    .level {
      margin-bottom: 0;
    }

    .option {
      margin-bottom: 10px;
    }

    .gas-price-control {
      display: flex;
      margin-top: 5px;
      gap: 20px;

      .disabled {
        opacity: 0.5;
      }
    }

    .slippage-control {
      margin-top: 5px;
      display: flex;

      .button {
        margin-right: 5px;
        padding-left: 1.2em;
        padding-right: 1.2em;
      }

      .disabled {
        opacity: 0.5;
      }

      .current {
      }

      .control {
        display: inline-flex;
      }
    }
  }

  .page-view-cross-process {
    .level-item.chain-icon {
      margin-right: -7px;
    }
  }

  .page-view-cross-process,
  .page-view-results {
    .centered-view {
      text-align: center;
      margin: 70px 0;

      .icon {
        font-size: 65px;
        width: 75px;
        color: $primary;
      }

      &.failed {
        .title, .icon, .details {
          color: $danger;
        }
      }

      .title {
        font-size: 24px;
        margin-bottom: 5px;
      }

      .details {
        font-size: 15px;
        color: #9db0be;
        margin-bottom: 5px;
      }

      .txHash {
        margin-top: 20px;
      }
    }
  }

  .page-view-search {
    .token-search-bar {
      input {
        border-radius: 16px;
      }

      .token-top-list {
        > .text-gray-stylized {
          margin: 0 10px;
        }

        > .columns {
          margin: 0px;
          margin-right: 20px;
        }

        .top-item {
          border-radius: 16px;
          padding: 2px 10px;
          margin-bottom: 10px;

          &:hover {
            background: var(--dropdown-color);
          }

          .level-item {
            font-size: 1rem;
          }

          .level-item:not(:last-child) {
            margin-bottom: 0;
            margin-right: 0.5rem;
          }
        }
      }

      .token-inline-list {
        position: relative;
        height: 325px;
        margin-top: 15px;

        .rcs-custom-scroll .rcs-inner-handle {
          background-color: #ddd;
          z-index: 20;
        }

        .rcs-custom-scroll .rcs-custom-scrollbar {
          z-index: 20;
        }
      }

      .token-inline-list-bottom {
        position: absolute;
        height: 30px;
        bottom: 0;
        width: 100%;
        box-shadow: inset 0px -8px 12px 6px var(--secondary-background);
        z-index: 15;
      }

      .dropdown-item {
        padding: 2px 10px;
        margin: 0;
        margin-bottom: 10px;
        margin-right: 14px;
        border-radius: 16px;
        width: auto;
        z-index: 10;

        &:last-child {
          z-index: 100;
        }

        &:hover {
          background: var(--dropdown-color);
        }

        .level-item {
          color: var(--primary-text-color) !important;
          font-size: 1rem;
        }
      }
    }
  }

  .token-dist-expand-wrapper {
    max-height: 0;
    transition: max-height 300ms;
    opacity: 0;

    &.expand {
      max-height: 83px;
      opacity: 1;
    }
  }

  .token-dist-wrapper {
    display: flex;
    padding-bottom: 1.5rem;

    .token-dist-pool-wrapper {
      display: block;
      overflow: hidden;
      transition: width 200ms;
    }

    .token-dist-pool {
      background: $light-blue;
      margin: 0 2px;
      padding: 5px;
      border-radius: $radius;
      text-align: center;
      font-size: 12px;
      color: #666;
      display: flex;
      align-items: center;
      justify-content: center;

    }

    .token-icon-img-wrapper {
      margin-right: 5px;
    }
  }

  .token-dist-hint-text {
    font-size: 16px;
    color: #333;
    padding-bottom: 6px;
    display: flex;

    span {
      line-height: 15px;
    }

    .hint-icon {
      width: 11px;
      height: 11px;
      display: flex;
      margin: 2px 4px;
      background: #9db0be;
    }
  }
}
