#preload {
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html, body {
  background: $light-blue;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0.3; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.3; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.3; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.3; }
  100% { opacity:1; }
}
.animate-flicker {
  -webkit-animation: flickerAnimation 2s infinite;
  -moz-animation: flickerAnimation 2s infinite;
  -o-animation: flickerAnimation 2s infinite;
  animation: flickerAnimation 2s infinite;
}

.container {
  margin: 9px;
}

@media screen and (min-width: 769px) {
  .container {
    margin: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    margin: 15px auto;
  }
}

.fullscreen {
  .alpha-banner {
    display: none;
  }
}

.alpha-banner.notification {
  font-size: 13px;
}

#nav {
  margin: 25px auto;
  transition: margin-top 300ms;

  .logo-icon {
    width: auto;
    height: auto;

    img {
      height: 37px;
    }
  }
}

@media screen and (min-width: 769px) {
  #nav {
    margin: 50px auto;

    .logo-title {
      font-size: 24px;
    }
  }
}

@media screen and (max-width: 768px) {
  .fullscreen {
    #nav {
      margin-top: -65px;
    }
  }
}

.footer {
  background: transparent;
  text-align:center;
  padding: 0;
  margin-bottom: 20px;
}

.text-gray-stylized {
  color: #999;
}

.token-icon-img-wrapper {
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    background: white;
    position: absolute;
  }

  .icon {
    display: none;
    color: $link;
    position: absolute;
    font-size: 23px;
    opacity: 0.4;
    width: 100%;
    height: 100%;
  }

  &.errored {
    background: $info-light;
    img { display: none }
    .icon { display: flex }
  }
}

.token-symbol-wrapper {
  .symbol {
    line-height: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 8px;
  }

  .balance {
    line-height: 10px;
    font-size: 12px;
    opacity: 0.7;
  }
}

.wallet-status {
  .wallet-address {
    border-radius: 30px;
    font-weight: bold;
    opacity: 0.7;
    background: white;
    padding: 2px 8px;
    color: $danger;
    font-size: 11px;
  }

  .button .icon:last-child:not(:first-child) {
    margin-left: 0;
  }

  .button {
  }

  .icon {
    padding: 0;
    font-size: 21px;
    height: 30px;
  }

  .icon-arrow-down {
    font-size: 16px;
  }

  .icon-person {
    margin-right: 0 !important;
    font-size: 24px;
  }
}

.token-search-bar {
  .dropdown-content {
    overflow: hidden;
  }

  .dropdown-item {
    overflow: hidden;
    cursor: pointer;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  .close-icon {
    pointer-events: initial !important;
    cursor: pointer;

    &:hover {
      color: #333;
    }
  }

  .level-item {
    font-size: 1.25rem;
  }
}

.swap-column {
  flex: none;
  width: 33%;
  max-width: 400px;
}

@media screen and (max-width: 1214px), print {
  .swap-column {
    flex: none;
    width: 40%;
  }
}

@media screen and (max-width: 1023px) {
  .swap-column {
    flex: none;
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .swap-column {
    flex: none;
    width: 100%;
  }
}

$swap-widget-anim-timing: 300ms;

.swap-widget {
  padding: 0px;
  overflow: hidden;
  position: relative;
  max-height: 800px;
  border-radius: 20px;
  transition: height $swap-widget-anim-timing;

  .page {
    transition: left $swap-widget-anim-timing ease-in-out,
      opacity $swap-widget-anim-timing ease-in-out,
      transform $swap-widget-anim-timing ease-in-out;
    min-height: 370px;
    background: white;
    position: relative;
    z-index: 10;
    top: 0;
    width: 100%;
    max-height: 600px;
    opacity: 1;
  }

  .page-inner {
    padding: 1.25em;
  }

  .page-stack {
    display: none;
  }

  .fade-enter {
    opacity: 0;
    transform: scale(0.75);
    pointer-events: none;
  }
  .fade-enter-active {
    opacity: 1;
    transform: scale(1);
    pointer-events: none;
  }
  .fade-exit {
    opacity: 1;
    transform: scale(1);
    position: absolute;
    height: 800px;
    pointer-events: none;
  }
  .fade-exit-active {
    opacity: 0;
    transform: scale(0.75);
    pointer-events: none;
    height: 800px;
    position: absolute;
  }
  .fade-exit-done {
    display: none;
  }

  .slidein-enter {
    display: block;
    left: 120%;
  }
  .slidein-enter-active {
    display: block;
    left: 0%;
    pointer-events: none;
  }
  .slidein-exit {
    display: block;
    left: 0%;
    position: absolute;
    height: 800px;
  }
  .slidein-exit-active {
    display: block;
    left: 120%;
    position: absolute;
    height: 800px;
    pointer-events: none;
  }
  .slidein-enter-done {
    display: block;
  }
  .slidein-exit-done {
    display: none;
  }

  .widget-title {
    font-size: 1.10rem;
  }

  .currency-text {
    font-family: monospace;
    color: #999;
  }

  .swap-icon-wrapper {
    position: relative;
    margin-top: 10px;
  }

  $swap-icon-width: 42px;

  .swap-icon {
    position: absolute;
    left: 50%;
    width: $swap-icon-width;
    margin-left: - ($swap-icon-width / 2);
    z-index: 10;
    margin-top: - ($swap-icon-width / 2);
    text-align: center;
    padding: 5px;
    background: white;
    border-radius: 40px;
    border: 4px solid $info-light;
    cursor: pointer;

    i {
      color: $primary;
    }

    &:hover {
      transform: scale(1.15);
    }
  }

  .swap-icon-v2 {
    color: $primary;
    text-align: center;
    font-size: 20px;
    position: absolute;
    left: 50%;
    width: $swap-icon-width;
    height: $swap-icon-width;
    margin-left: - ($swap-icon-width / 2);
    margin-top: - ($swap-icon-width / 2);
    background: white;
    border-radius: 40px;
    border: 4px solid $light-blue;
    z-index: 10;
  }

  .settings-icon {
    font-size: 24px;
    height: 34px;
    width: 34px;
    line-height: 34px;
    text-align: center;
  }

  .icon-down {
    width: auto;
  }

  .icon.clickable {
    cursor: pointer;
    color: #aaa;

    &:hover {
      color: #333;
      border-radius: 40px;
      background: #eee;
    }
  }

  .input {
    box-shadow: none;
    border-color: #eee;
    font-family: monospace;
    font-size: 18px;
    line-height: 1rem;
    height: 50px;
    color: $link;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  .notification {
    padding: 15px;

    .text-gray-stylized {
    }

    .token-symbol-wrapper {
      width: 80px;
    }

    .level-item {
      flex-grow: 0;

      &:not(:last-child) {
        margin-right: 0.75em;
      }
    }

    &.is-info {
      background-color: $light-blue !important;
    }
  }

  //override bulma
  .level:not(:last-child),
  .level-item:not(:last-child) {
    margin-bottom: 0;
  }

  //override bulma
  .level-left + .level-right {
    margin-top: 0;
  }

  hr {
    margin: 1rem 0;
  }

  .token-dropdown {
    margin-right: 15px !important;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
  }

  .token-search-bar {
    input {
      border-radius: 16px;
    }

    .token-top-list {
      > .text-gray-stylized {
        margin: 0 10px;
      }

      > .columns {
        margin: 0px;
        margin-right: 20px;
      }

      .top-item {
        border-radius: 16px;
        padding: 2px 10px;
        margin-bottom: 10px;

        &:hover {
          background: $light-blue;
        }

        .level-item {
          font-size: 1rem;
        }

        .level-item:not(:last-child) {
          margin-bottom: 0;
          margin-right: 0.5rem;
        }
      }
    }

    .token-empty-list {
      height: 300px;
      display: flex;
      margin: 0 auto;
      text-align: center;
      align-items: center;
      justify-content: center;

      i {
        font-size: 4rem;
      }

      .empty-text {
        margin-bottom: 17px;
        font-weight: bold;
      }
    }

    .token-inline-list {
      position: relative;
      height: 325px;
      margin-top: 15px;

      .rcs-custom-scroll .rcs-inner-handle {
        background-color: #ddd;
        z-index: 20;
      }

      .rcs-custom-scroll .rcs-custom-scrollbar {
        z-index: 20;
      }
    }

    .token-inline-list-bottom {
      position: absolute;
      height: 30px;
      bottom: 0;
      width: 100%;
      box-shadow: inset 0px -8px 12px 6px #fff;
      z-index: 15;
    }

    .dropdown-item {
      padding: 2px 10px;
      margin: 0;
      margin-bottom: 10px;
      margin-right: 14px;
      border-radius: 16px;
      width: auto;
      z-index: 10;

      &:last-child {
        z-index: 100;
      }

      &:hover {
        background: $light-blue;
      }

      .level-item {
        font-size: 1rem;
      }
    }
  }


}
