.grid-table {
  .header {
  }

  .body {
    .row {
      border-radius: 16px;
      padding: 15px;
    }
    & > div:nth-child(odd) {
      background-color: white;
    }
  }

  .page-button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .arrow {
    padding: 0 20px;
    user-select: none;
    :hover {
      cursor: pointer;
    }
  }
}