
.trading-view-wrapper {

  .trading-view-header {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;

    .price-details {

      .price {
        line-height: 20px;
        font-size: 24px;
        font-weight: bold;
        text-align: end;
      }

      .wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        align-items: flex-end;
        justify-content: flex-end;
        margin-top: 6px;

        .percent {
          font-size: 18px;
        }

        .period {
          margin-left: 6px;
          font-size: 16px;
        }
      }

      @media screen and (max-width: 768px) {
        .price {
          font-size: 18px;
        }

        .wrapper {
          .percent {
            font-size: 14px;
          }

          .period {
            font-size: 14px;
          }
        }
      }
    }
  }

  .trading-view-body {
    display: flex;
    flex-direction: column;

    .chart-view-option {
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;
      justify-content: flex-end;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .chart {
      width: 100%;
      height: 400px;
    }

    .chart-range-selector {
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;
      align-items: center;
      justify-content: flex-end;
      margin-top: 10px;

      .time-range-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 39px;
        cursor: pointer;
        height: 24px;
        padding: 3px 6px;
        background: rgb(255, 255, 255);;
        box-sizing: border-box;
        margin-left: 15px;
        border-radius: 4px;

        &:hover {
          color: #333;
          border-radius: 4px;
          background: #eee;
        }
      }

      .active {
        font-weight: bold;
        border-radius: 4px;
        background: #eee;
      }
    }
  }
}

