
.trading-view-wrapper {

  .trading-view-header {
    display: flex;
    justify-content: space-between;
  }

  .trading-view-body {
    display: flex;
    flex-direction: column;

    .chart-view-option {
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;
      justify-content: flex-end;
    }

    .chart {
      width: 100%;
      height: 400px;
    }

    .chart-range-selector {
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;
      align-items: center;
      justify-content: flex-end;

      .time-range {
        width: 39px;
        cursor: pointer;
        height: 24px;
        padding: 3px 6px;
        background: rgb(9, 22, 46);
        box-sizing: border-box;
        margin-left: 15px;
        border-radius: 4px;
      }
    }
  }
}
