@charset "utf-8";

@import 'reset';

// override Bulma Variables
$radius-small: 6px;
$radius: 8px;
$radius-large: 10px;

$primary: #E6007A;
$light-blue: #f2f7f9;

$family-sans-serif: "Gilroy", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

@import "~bulma/bulma";
@import 'custom/form-toggle';
@import 'custom/tooltip';
@import 'custom/scroll';
@import 'custom/layout';
@import 'custom/notifications';
@import 'custom/swap';

@import "~antd/dist/antd.dark.css";
@import "~antd/dist/antd.compact.css";
