@charset "utf-8";

@import 'reset';

// override Bulma Variables
$radius-small: 6px;
$radius: 8px;
$radius-large: 10px;
$primary: #58b57e;
$primary-white-background: #f2f7f9;
$secondary-white-background: #ffffff;
$third-white: #eee;
$primary-dark-background: #201923;
$secondary-dark-background: #29212D;
$light-blue: #f2f7f9;
$gray-chateau:#9EA8AF;
$catskill-white: #E1ECF1;
$sea-shell-solid: #F1F1F1;
$dove-gray: #666666;
$tundora:#4A4A4A;
$rose:#E6007A;
$cod-gray:#0a0a0a;
$gallery:#efefef;
$royal-blue:#3273dc;
$remy:#feecf0;
$blizzard-blue:#b5daf2;
$wild-sand:#f5f5f5;
$alice-blue:#f0f8ff;
$alto:#dddddd;
$bastille:#1e1721;
$bastille-light:#29212D;
$bastille-dark:#221926;
$scarpa-flow: #5A545D;
$mine-shaft:#333333;
$black: #000000;

$family-sans-serif: "Gilroy", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

@import "~bulma/bulma";
@import 'custom/form-toggle';
@import 'custom/item-toggle';
@import 'custom/tooltip';
@import 'custom/scroll';
@import 'custom/layout';
@import 'custom/notifications';
@import 'custom/swap';
@import 'custom/trading-view';
@import 'custom/trading-view-toggle';
@import 'custom/table';
@import 'custom/search';

