@charset "utf-8";

@import 'reset';

// override Bulma Variables
$radius-small: 6px;
$radius: 8px;
$radius-large: 10px;

$primary: #58B57E;
$primary-white-background: #f2f7f9;
$secondary-white-background: #ffffff;
$third-white: #eee;
$primary-dark-background: #201923;
$secondary-dark-background: #29212D;
$light-blue: #f2f7f9;

$family-sans-serif: "Gilroy", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

@import "~bulma/bulma";
@import 'custom/form-toggle';
@import 'custom/item-toggle';
@import 'custom/tooltip';
@import 'custom/scroll';
@import 'custom/layout';
@import 'custom/notifications';
@import 'custom/swap';
@import 'custom/trading-view';
@import 'custom/trading-view-toggle';

