@charset "utf-8";

@import 'reset';

// override Bulma Variables
$radius-small: 6px;
$radius: 8px;
$radius-large: 10px;

$primary: #E6007A;
$light-blue: #f2f7f9;

@import "~bulma/bulma";
@import 'custom/form-toggle';
@import 'custom/tooltip';
@import 'custom/scroll';
@import 'custom/swap';
